# Entorno Virtual Python
django_entorno/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/

# Dependencias Node/Next.js
node_modules/
.next/
out/
build/
dist/

# Variables de Entorno (Claves secretas)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Bases de datos y archivos locales SQLite (Si aplica)
*.sqlite3
db.sqlite3

# Windows y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS X
.DS_Store

# Archivos de la nube y despliegue
DB_Trilaleo/
*.sql

# Certificados SSL auto-generados
**/certs/
